.restart-config {
  margin-bottom: 20px;

  & > * {
    display: inline-block;
    margin-left: 20px;
    vertical-align: bottom;

    &:first-child {
      margin-left: 0;
    }
  }

  .smiley {
    border: 2px solid;
    background: yellow;
    font-size: 17px;
    width: 28px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    transform: rotate(90deg);
    vertical-align: middle;
    padding-top: 3px;
    font-weight: bold;
  }

  button.restart {
    width: 46px;
    height: 43px;
    padding: 0;
  }
}

.app.clicking .restart-config .smiley:after {
  content: ':o';
}

.app.ongoing .restart-config .smiley:after {
  content: ':)';
}

.app.won .restart-config .smiley:after {
  content: 'B)';
}

.app.lost .restart-config .smiley:after {
  content: ':(';
}
